[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/greplace"]
	path = vim/bundle/greplace
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-smartinput"]
	path = vim/bundle/vim-smartinput
	url = https://github.com/kana/vim-smartinput.git
