{
    AFRStrokeThickness = 0;
    AdvancedFontRendering = 0;
    AppleAntiAliasingThreshold = 1;
    AppleScrollAnimationEnabled = 0;
    AppleSmoothFixedFontsSizeThreshold = 1;
    CheckTestRelease = 1;
    ColorInvertedCursor = 0;
    CommandSelection = 1;
    Control = 1;
    CopySelection = 1;
    CursorType = 2;
    "Custom Color Presets" =     {
        SolarizedDark =         {
            "Ansi 0 Color" =             {
                "Blue Component" = "0.1937013864517212";
                "Green Component" = "0.155759260058403";
                "Red Component" = 0;
            };
            "Ansi 1 Color" =             {
                "Blue Component" = "0.1414571404457092";
                "Green Component" = "0.1084065511822701";
                "Red Component" = "0.8192697763442993";
            };
            "Ansi 10 Color" =             {
                "Blue Component" = "0.3829848766326904";
                "Green Component" = "0.3566595613956451";
                "Red Component" = "0.2767199277877808";
            };
            "Ansi 11 Color" =             {
                "Blue Component" = "0.4385056495666504";
                "Green Component" = "0.4071767330169678";
                "Red Component" = "0.3243661820888519";
            };
            "Ansi 12 Color" =             {
                "Blue Component" = "0.5168579816818237";
                "Green Component" = "0.5096293091773987";
                "Red Component" = "0.4405802488327026";
            };
            "Ansi 13 Color" =             {
                "Blue Component" = "0.7290843725204468";
                "Green Component" = "0.3389629721641541";
                "Red Component" = "0.3479863405227661";
            };
            "Ansi 14 Color" =             {
                "Blue Component" = "0.5636365413665771";
                "Green Component" = "0.5648583769798279";
                "Red Component" = "0.5059919357299805";
            };
            "Ansi 15 Color" =             {
                "Blue Component" = "0.8640598058700562";
                "Green Component" = "0.9579439163208008";
                "Red Component" = "0.9894341826438904";
            };
            "Ansi 2 Color" =             {
                "Blue Component" = "0.02020875550806522";
                "Green Component" = "0.5411549210548401";
                "Red Component" = "0.4497745335102081";
            };
            "Ansi 3 Color" =             {
                "Blue Component" = "0.02348481118679047";
                "Green Component" = "0.4675142467021942";
                "Red Component" = "0.6474647521972656";
            };
            "Ansi 4 Color" =             {
                "Blue Component" = "0.7823141813278198";
                "Green Component" = "0.462659478187561";
                "Red Component" = "0.1275488436222076";
            };
            "Ansi 5 Color" =             {
                "Blue Component" = "0.4351663589477539";
                "Green Component" = "0.1080246344208717";
                "Red Component" = "0.7773894071578979";
            };
            "Ansi 6 Color" =             {
                "Blue Component" = "0.5250227451324463";
                "Green Component" = "0.570823609828949";
                "Red Component" = "0.1467953473329544";
            };
            "Ansi 7 Color" =             {
                "Blue Component" = "0.7978110313415527";
                "Green Component" = "0.8900123834609985";
                "Red Component" = "0.916110634803772";
            };
            "Ansi 8 Color" =             {
                "Blue Component" = "0.1517027318477631";
                "Green Component" = "0.1178361028432846";
                "Red Component" = 0;
            };
            "Ansi 9 Color" =             {
                "Blue Component" = "0.07353043556213379";
                "Green Component" = "0.2132530063390732";
                "Red Component" = "0.7417625784873962";
            };
            "Background Color" =             {
                "Blue Component" = "0.1517027318477631";
                "Green Component" = "0.1178361028432846";
                "Red Component" = 0;
            };
            "Bold Color" =             {
                "Blue Component" = "0.5636365413665771";
                "Green Component" = "0.5648583769798279";
                "Red Component" = "0.5059919357299805";
            };
            "Cursor Color" =             {
                "Blue Component" = "0.5168579816818237";
                "Green Component" = "0.5096293091773987";
                "Red Component" = "0.4405802488327026";
            };
            "Cursor Text Color" =             {
                "Blue Component" = "0.1937013864517212";
                "Green Component" = "0.155759260058403";
                "Red Component" = 0;
            };
            "Foreground Color" =             {
                "Blue Component" = "0.5168579816818237";
                "Green Component" = "0.5096293091773987";
                "Red Component" = "0.4405802488327026";
            };
            "Selected Text Color" =             {
                "Blue Component" = "0.5636365413665771";
                "Green Component" = "0.5648583769798279";
                "Red Component" = "0.5059919357299805";
            };
            "Selection Color" =             {
                "Blue Component" = "0.1937013864517212";
                "Green Component" = "0.155759260058403";
                "Red Component" = 0;
            };
        };
    };
    "Default Bookmark Guid" = "F4F9A328-6598-4E8A-ADF4-3B22986C4422";
    DeleteSendsCtrlH = 0;
    DimInactiveSplitPanes = 1;
    EnableGrowl = 0;
    EnableRendezvous = 1;
    FocusFollowsMouse = 0;
    FsTabDelay = 1;
    HiddenAFRStrokeThickness = 0;
    HiddenAdvancedFontRendering = 0;
    HideScrollbar = 0;
    HideTab = 1;
    HighlightTabLabels = 1;
    HotKeyBookmark = "F4F9A328-6598-4E8A-ADF4-3B22986C4422";
    HotKeyTogglesWindow = 0;
    Hotkey = 0;
    HotkeyChar = 0;
    HotkeyCode = 0;
    HotkeyModifiers = 0;
    IRMemory = 4;
    InstantReplay = 1;
    JobName = 0;
    LeftCommand = 7;
    LeftOption = 2;
    MaxVertically = 1;
    MinimumContrast = 0;
    NSNavBrowserPreferedColumnContentWidth = 186;
    NSNavLastCurrentDirectory = "~/src/tmp";
    NSNavLastRootDirectory = "~";
    NSQuotedKeystrokeBinding = "";
    NSRepeatCountBinding = "";
    "NSWindow Frame Preferences" = "259 287 800 433 0 0 1280 778 ";
    "NSWindow Frame iTerm Window 0" = "1 10 1279 768 0 0 1280 778 ";
    "New Bookmarks" =     (
                {
            "ASCII Anti Aliased" = 1;
            "Ambiguous Double Width" = 0;
            "Ansi 0 Color" =             {
                "Blue Component" = "0.1937014";
                "Green Component" = "0.1557593";
                "Red Component" = 0;
            };
            "Ansi 1 Color" =             {
                "Blue Component" = "0.1414571";
                "Green Component" = "0.1084066";
                "Red Component" = "0.8192698";
            };
            "Ansi 10 Color" =             {
                "Blue Component" = "0.3829849";
                "Green Component" = "0.3566596";
                "Red Component" = "0.2767199";
            };
            "Ansi 11 Color" =             {
                "Blue Component" = "0.4385056";
                "Green Component" = "0.4071767";
                "Red Component" = "0.3243662";
            };
            "Ansi 12 Color" =             {
                "Blue Component" = "0.516858";
                "Green Component" = "0.5096293";
                "Red Component" = "0.4405802";
            };
            "Ansi 13 Color" =             {
                "Blue Component" = "0.7290844";
                "Green Component" = "0.338963";
                "Red Component" = "0.3479863";
            };
            "Ansi 14 Color" =             {
                "Blue Component" = "0.5636365";
                "Green Component" = "0.5648584";
                "Red Component" = "0.5059919";
            };
            "Ansi 15 Color" =             {
                "Blue Component" = "0.8640598";
                "Green Component" = "0.9579439";
                "Red Component" = "0.9894342";
            };
            "Ansi 2 Color" =             {
                "Blue Component" = "0.02020876";
                "Green Component" = "0.5411549";
                "Red Component" = "0.4497745";
            };
            "Ansi 3 Color" =             {
                "Blue Component" = "0.02348481";
                "Green Component" = "0.4675142";
                "Red Component" = "0.6474648";
            };
            "Ansi 4 Color" =             {
                "Blue Component" = "0.7823142";
                "Green Component" = "0.4626595";
                "Red Component" = "0.1275488";
            };
            "Ansi 5 Color" =             {
                "Blue Component" = "0.4351664";
                "Green Component" = "0.1080246";
                "Red Component" = "0.7773894";
            };
            "Ansi 6 Color" =             {
                "Blue Component" = "0.5250227";
                "Green Component" = "0.5708236";
                "Red Component" = "0.1467953";
            };
            "Ansi 7 Color" =             {
                "Blue Component" = "0.797811";
                "Green Component" = "0.8900124";
                "Red Component" = "0.9161106";
            };
            "Ansi 8 Color" =             {
                "Blue Component" = "0.1517027";
                "Green Component" = "0.1178361";
                "Red Component" = 0;
            };
            "Ansi 9 Color" =             {
                "Blue Component" = "0.07353044";
                "Green Component" = "0.213253";
                "Red Component" = "0.7417626";
            };
            "BM Growl" = 0;
            "Background Color" =             {
                "Blue Component" = "0.1517027";
                "Green Component" = "0.1178361";
                "Red Component" = 0;
            };
            "Background Image Location" = "";
            "Blink Allowed" = 0;
            "Blinking Cursor" = 0;
            Blur = 0;
            "Bold Color" =             {
                "Blue Component" = "0.5636365";
                "Green Component" = "0.5648584";
                "Red Component" = "0.5059919";
            };
            "Character Encoding" = 4;
            "Close Sessions On End" = 1;
            Columns = 209;
            Command = "";
            "Cursor Color" =             {
                "Blue Component" = "0.516858";
                "Green Component" = "0.5096293";
                "Red Component" = "0.4405802";
            };
            "Cursor Text Color" =             {
                "Blue Component" = "0.1937014";
                "Green Component" = "0.1557593";
                "Red Component" = 0;
            };
            "Cursor Type" = 2;
            "Custom Command" = No;
            "Custom Directory" = Recycle;
            "Default Bookmark" = No;
            "Disable Smcup Rmcup" = 0;
            "Disable Window Resizing" = 1;
            "Flashing Bell" = 1;
            "Foreground Color" =             {
                "Blue Component" = "0.516858";
                "Green Component" = "0.5096293";
                "Red Component" = "0.4405802";
            };
            Guid = "F4F9A328-6598-4E8A-ADF4-3B22986C4422";
            "Horizontal Spacing" = 1;
            "Idle Code" = 0;
            "Keyboard Map" =             {
                "0x7f-0x0" =                 {
                    Action = 11;
                    Text = 7f;
                };
                "0xf700-0x220000" =                 {
                    Action = 10;
                    Text = "[1;2A";
                };
                "0xf701-0x220000" =                 {
                    Action = 10;
                    Text = "[1;2B";
                };
                "0xf702-0x220000" =                 {
                    Action = 10;
                    Text = "[1;2D";
                };
                "0xf702-0x240000" =                 {
                    Action = 10;
                    Priority = 1;
                    Text = "[1;5D";
                };
                "0xf703-0x220000" =                 {
                    Action = 10;
                    Text = "[1;2C";
                };
                "0xf703-0x240000" =                 {
                    Action = 10;
                    Priority = 1;
                    Text = "[1;5C";
                };
                "0xf704-0x20000" =                 {
                    Action = 10;
                    Text = "[1;2P";
                };
                "0xf705-0x20000" =                 {
                    Action = 10;
                    Text = "[1;2Q";
                };
                "0xf706-0x20000" =                 {
                    Action = 10;
                    Text = "[1;2R";
                };
                "0xf707-0x20000" =                 {
                    Action = 10;
                    Text = "[1;2S";
                };
                "0xf708-0x20000" =                 {
                    Action = 10;
                    Text = "[15;2~";
                };
                "0xf709-0x20000" =                 {
                    Action = 10;
                    Text = "[17;2~";
                };
                "0xf70a-0x20000" =                 {
                    Action = 10;
                    Text = "[18;2~";
                };
                "0xf70b-0x20000" =                 {
                    Action = 10;
                    Text = "[19;2~";
                };
                "0xf70c-0x20000" =                 {
                    Action = 10;
                    Text = "[20;2~";
                };
                "0xf70d-0x20000" =                 {
                    Action = 10;
                    Text = "[21;2~";
                };
                "0xf70e-0x20000" =                 {
                    Action = 10;
                    Text = "[23;2~";
                };
                "0xf70f-0x20000" =                 {
                    Action = 10;
                    Text = "[24;2~";
                };
                "0xf729-0x20000" =                 {
                    Action = 10;
                    Text = "[1;2H";
                };
                "0xf729-0x40000" =                 {
                    Action = 10;
                    Text = "[1;5H";
                };
                "0xf72b-0x20000" =                 {
                    Action = 10;
                    Text = "[1;2F";
                };
                "0xf72b-0x40000" =                 {
                    Action = 10;
                    Text = "[1;5F";
                };
            };
            "Minimum Contrast" = 0;
            "Mouse Reporting" = 1;
            Name = Default;
            "Non Ascii Font" = "Monaco 10";
            "Non-ASCII Anti Aliased" = 1;
            "Normal Font" = "Monaco 10";
            "Option Key Sends" = 2;
            "Right Option Key Sends" = 0;
            Rows = 80;
            Screen = "-1";
            "Scrollback Lines" = 40000;
            "Selected Text Color" =             {
                "Blue Component" = "0.5636365";
                "Green Component" = "0.5648584";
                "Red Component" = "0.5059919";
            };
            "Selection Color" =             {
                "Blue Component" = "0.1937014";
                "Green Component" = "0.1557593";
                "Red Component" = 0;
            };
            "Send Code When Idle" = 0;
            Shortcut = "";
            "Silence Bell" = 0;
            "Smart Cursor Color" = 0;
            "Sync Title" = 0;
            Tags =             (
            );
            "Terminal Type" = "xterm-256color";
            Transparency = 0;
            "Unlimited Scrollback" = 0;
            "Use Bold Font" = 0;
            "Use Bright Bold" = 1;
            "Vertical Spacing" = 1;
            "Visual Bell" = 1;
            "Window Type" = 0;
            "Working Directory" = "/Users/brri";
        }
    );
    OnlyWhenMoreTabs = 0;
    OpenArrangementAtStartup = 0;
    OpenBookmark = 0;
    PassOnControlClick = 0;
    PasteFromClipboard = 1;
    PromptOnClose = 0;
    PromptOnQuit = 0;
    QuitWhenAllWindowsClosed = 0;
    RightCommand = 8;
    RightOption = 3;
    SUEnableAutomaticChecks = 1;
    SUFeedURL = "http://iterm2.googlecode.com/svn/trunk/appcasts/testing.xml";
    SUHasLaunchedBefore = 1;
    SULastCheckTime = "2011-04-26 12:17:30 +0200";
    SavePasteHistory = 0;
    ShowBookmarkName = 0;
    SmartPlacement = 1;
    SwitchTabModifier = 4;
    SwitchWindowModifier = 6;
    TabViewType = 0;
    URLHandlersByGuid =     {
    };
    UseBorder = 0;
    UseCompactLabel = 1;
    WebKitDefaultFontSize = 11;
    WebKitStandardFont = "Lucida Grande";
    WindowNumber = 1;
    WindowStyle = 0;
    WordCharacters = "/-+\\\\~_.";
    "findIgnoreCase_iTerm" = 1;
    "findRegex_iTerm" = 0;
    "iTerm Version" = "0.20.20110413";
}
